html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif-thin;
  box-sizing: border-box;
  overscroll-behavior: none; /* 禁用整个页面的过度滚动弹性效果 */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: #d2def7;
}

.component.tab-header button {
  border: none;
  background: none;
  border-bottom: 1px solid #f4f5f7;
}

.component.tab-header button.active {
  border-bottom: 1px solid #007bff;
}

.component.table-btn {
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background-color: #1890ff;
  color: white;
}

.component.table-btn.text {
  background-color: transparent;
  color: #1890ff;
  border: 1px solid transparent;
}

.component.table-btn.text:hover {
  background-color: #e6f7ff;
}

.component.table-btn.primary {
  background-color: #1890ff;
  color: white;
  border: 1px solid #1890ff;
}

.component.table-btn.primary:hover {
  background-color: #40a9ff;
}

.component.table-btn.default {
  background-color: #fff;
  color: #555;
  border: 1px solid #d9d9d9;
}

.component.table-btn.default:hover {
  background-color: #f5f5f5;
  border-color: #40a9ff;
}

.component.table-btn.success {
  background-color: #52c41a;
  border: 1px solid #52c41a;
}

.component.table-btn.success:hover {
  background-color: #73d13d;
}

.component.table-btn.danger {
  background-color: #ff4d4f;
  border: 1px solid #ff4d4f;
}

.component.table-btn.danger:hover {
  background-color: #ff7875;
}

.component.radio label {
  min-width: 45px;
  vertical-align: middle;
}

.menu {
  background-color: transparent;
}
